@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', sans-serif;
}

.wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #283E57;
}

.nav-wrapper{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.navbar{
  width:100%;
  height: 80px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  width: 60px;
  height: 60px;
}

.navbar .links{
  color: #f5f5f5;
  display: flex;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.navbar .links li{
  margin: 0 2rem;
  font-size: 16px;
  font-weight: 600;
}

a{
  color: #f5f5f5;
  text-decoration: none;
}

.navbar .links li a:hover{
  color: #E1065E;
}

.resumeBtn.nav{
  color: #f5f5f5;
  padding: 0 .75rem;
  border: #E1065E 2px solid;
}

.resumeBtn.about{
  color: #232A4E;
  padding: 0 .75rem;
  border: #E1065E 2px solid;
  width: 9rem;
}

.resumeBtn.btn{
  color: #f5f5f5;
  width: 10rem;
  height: auto;
  margin-top: 1.5em;
  color: #f5f5f5;
  padding: 0 .75rem;
  cursor: pointer;
  border: #E1065E 2px solid;
}

.navbar .toggle-icon{
  display: none;
}

@media(max-width: 768px){
  .navbar{
    position: relative;
    transition: 0.5s height ease-in-out;
  }

  .navbar.expanded{
    height: 100vh;
  }

  .navbar.expanded .links{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease-in-out;
  }

  .navbar.expanded .links li{
    margin: 15px 0;
    font-size: 24px;
    color: #f2f2f2;
  
  }
  
  
  .navbar .logo{
    position: absolute;
    top: 23px;
    left: 20px;
  }

  .navbar .toggle-icon{
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    color: #f2f2f2;
  }

  .navbar .links{
    display: none;
  }

}

/* MAIN SECTION */
.mainWrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10em 13em;
}

.mainWrapper p{
  font-size: 16px;
  color: #f2f2f2;
}

.mainWrapper h1{
  font-size: 90px;
  font-weight: bold;
  color: #f2f2f2;
}

.header {
  font-size: 48px;
  color: #f2f2f2;
}

.header .desc {
  font-size: 48px;
  color: #E1065E;
}

.icons{
  display: flex;
  color: #f5f5f5;

}
/* scroll down */

.scrollDown{
  margin: 5em 1em;

}

.scrollDown span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scrollDown span:nth-child(2) {
	animation-delay: -0.2s;
}

.scrollDown span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

@media(max-width: 768px){
  .mainWrapper{
    padding: 4em 3em;
    margin: 0 auto;
  }
  
  .mainWrapper p{
    font-size: 1rem;
    color: #f2f2f2;
  }
  
  .mainWrapper h1{
    font-size: 3rem;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .header {
    font-size: 2rem;
    color: #f2f2f2;
  }
  
  .header .desc {
    font-size: 2rem;
    color: #E1065E;
  }

  
  
}

/* SIDEBAR */
.sideWrapper{
  position:fixed;
  bottom: 90px;
  left:20px;
  z-index:100;
}

.sideWrapper .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding:2px;
  text-decoration: none;
  color: #f2f2f2;
  text-align:center;
  font-size:16px;
  border-radius:50px;
  width:40px;
  height:40px;
  box-shadow: 2px 2px 3px #999;
  background-color: #232A4E;
  cursor: pointer;
}

.vl {
  border-left: 6px solid #232A4E;
  height: 10em;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 45;
}

@media(max-width: 768px){
  .sideWrapper{
    position: static !important;
    bottom:90px;
    left:10px;
    z-index:100;
  }
  
  .sideWrapper .icons {
   display: none;
  }

  .vl{
    display: none;
  }
}
/* WORK SECTION */
.workContainer{
  width: 100%;
  height: auto;
  background: #283E57;;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.workContainer .page-title{
  padding: 1em 0;
  font-size: 2rem;
  color: #E1065E;
}

.normCont{
  width: min(90%, 80.5em);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 1em;
}

.normal{
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.left{
  min-width: 300px;
  max-width: 50%;
  min-height: 300px;
  background-color: #303137;
  display: flex; 
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1.90rem;
  z-index: 1;
  border-radius: 0.6rem;
  box-sizing: border-box;
  margin: auto;
}

/* CONTAINER FOR LEFT CARD */
.left-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
}

.work-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

.tech-stack .tech {
  background-color: #fff;
  color: #303137;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
}

.work-info {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.work-links{
  margin: 2rem 0;
  display: flex;
  gap: 1em;
}


button{
  background-color: #f2f2f2;
  color: #303137;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E1065E;
  color: #fff;
}

.right{
  width: 50%; 
  height: min(30em, 35.5em);
  border-radius: 8px;
  margin-left: -150px; 
  object-fit: cover;
  box-sizing: border-box; 
}

/* REVERSE */
.reverse{
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.reverse .right{
  margin-right: -150px;
  margin-left: 0;
} 

@media(max-width: 900px){

  .normal,
  .reverse {
    position: relative;
    width: 100%;
    height: 23em;
    overflow: hidden;
    flex-direction: column;

  }

  .left,
  .left .reverse {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 23em;
    top: 100%;
    right: 0;
    background: #1f3d4738;
    border: 2px solid #CCD6F6;
    backdrop-filter: blur(10px);
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .right {
    width: 100%;
    height: 23em;
    margin: 0 auto;
    object-fit: cover;
  }

  .reverse .right {
    width: 100%;
    height: 23em;
    margin: 0 auto;
  }

  /* HOVER EFFECT */
  .normal:hover .left,
  .reverse:hover .left {
    top: 0;
    transition: 0.3s all ease-in-out;
  }

  .work-title {
    font-size: 2rem;
    margin-bottom: 1rem; 
  }
  
  .tech-stack {
    margin-bottom: 1rem;
  }
  
  .tech-stack .tech {
    font-size: 1rem;
    margin: 0.1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.1rem;
  }
  
  .work-info {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .work-links {
    margin: 1rem 0;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}

/* OTHER PROJECTS */

.opWrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #283E57;
}

.opWrapper .page-title{
  font-size: 2rem;
  color: #E1065E;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerWrapper{
  display: flex;
  padding: 2em;
  gap: 1em;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.containerWrapper .card{
  width: 23em;
  height: 23em;
  position: relative;
  border-radius: 5px;
  background-color: #CCD6F6;
  overflow: hidden;
}

.img-card{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card-content{
  width: 100%;
  height: 100%;
  top: 100%;
  right: 0;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(15px);
  padding: 2em; 
  display: flex;
  flex-direction: column;
}

.card:hover .card-content{
  top: 0;
  transition: 0.3s all ease-in-out;
}

.proj-title{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.proj-info{
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1em 0;
  font-weight: 400;
}

.tech-stack{
  width: 100%;
  max-width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
}
.tech{
  font-size: 1rem;
  font-weight: 500;
  border: 1px #030D1A solid;
  padding: 3px;
}

.card-links{
  display: flex; 
  gap: 1.5em;
}
.card-links a{
  color: #333;
  text-decoration: none;
  list-style: none;
  margin-right: 1em;
}

.card-links .nav-icon{
  position: absolute;
  bottom: 30px;
}

.card-links:hover{
  color: #333;
}

.nav-icon{
  width: 2em;
  height: 2em;
}



/* FOOTER AREA */
.footerWrapper{
  position: absolute;
  background: linear-gradient(#283E57, #030D1A);
  border-top: 2px #CCD6F6 solid;
  height: auto;
  width: 100%;
  padding-bottom: 3em;
  color: #fff;
}

.footerContent{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
  text-align: left;
  padding: 3em 0;
}

.footerContent .title{
  padding: 1em 4em;
  line-height: 1.5em;
}

.footerContent .title h3{
  color: #E1065E;
  padding-bottom: 0.4em;
}
.footerBottom{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 768px){
  .footerContent{
    justify-content: flex-start;
    
  }
}

/* ABOUT ME */

.about-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(#283E57, #030D1A);
}
.about-container {
  width: 80%;
  max-width: 70.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  /* background-color: aqua; */
}

.about-left {
  width: 70%;
  height: auto;
  padding: 1.875em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #f2f2f2;
}

.about-right {
 width: 70%;
 min-height: 30em;
 background-color: antiquewhite;
}

.about-left h1{
  font-size: 2rem;
  color: #E1065E;
  padding: 0.524em 0;
}


.about-left p {
  font-size: 1;
  padding-bottom: 1em;
}


@media only screen and (max-width: 768px){
  .about-wrapper{
    height: auto;
  }
  .about-container{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .about-left{
    padding: 0;
  }

  .about-right{
    width: 80%;
    min-height: 400px;
    margin-bottom: 8em;
  }
}

/* SKILLS */
.skills-wrapper{
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #283E57;
}

.content-wrapper{
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  flex-wrap: wrap;

  align-items: left;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  padding: 5em 0;
 
}

.content-wrapper h1{
  font-size: 2rem;
  color: #E1065E;
  padding: 0.524em 0;
}

.btnStyle{
  width: 11em;
  border: 2px solid #CCD6F6;
  border-radius: 4px;
  margin: 0.55em 2px;
  padding: 0.2em 0.4em;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.45em;
}

.title h2{
  width: 10em;
  color: #E1065E;
  font-size: 2rem;
}

.title p{
  user-select: none;
  color: #f2f2f2;
}
.icon{
  width: 30px;
  height: 30px;
  color: #f2f2f2;
}
