@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', sans-serif;
}

.wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: linear-gradient(#283E57, #030D1A);
}

.nav-wrapper{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.navbar{
  width:100%;
  height: 80px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  width: 50px;
  height: 50px;
}

.navbar .links{
  color: #f5f5f5;
  display: flex;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.navbar .links li{
  margin: 0 2rem;
  font-size: 16px;
  font-weight: 600;
 
}

.resumeBtn.nav{
  color: #f5f5f5;
  padding: 0 .75rem;
  border: #E1065E 2px solid;
}


.resumeBtn.btn{
  color: #f5f5f5;
  width: 155px;
  height: auto;
  margin-top: 1.5em;
  color: #f5f5f5;
  padding: 0 .75rem;
  cursor: pointer;
  border: #E1065E 2px solid;
}

.navbar .toggle-icon{
  display: none;
}

@media(max-width: 768px){
  .navbar{
    position: relative;
    transition: 0.5s height ease-in-out;
  }

  .navbar.expanded{
    height: 100vh;
  }

  .navbar.expanded .links{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease-in-out;
  }

  .navbar.expanded .links li{
    margin: 15px 0;
    font-size: 24px;
    color: #f2f2f2;
  
  }
  
  
  .navbar .logo{
    position: absolute;
    top: 23px;
    left: 20px;
  }

  .navbar .toggle-icon{
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    color: #f2f2f2;
  }

  .navbar .links{
    display: none;
  }

 
  
}

/* MAIN SECTION */
.mainWrapper{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 10em 13em;
}

.mainWrapper p{
  font-size: 16px;
  color: #f2f2f2;
}

.mainWrapper h1{
  font-size: 90px;
  font-weight: bold;
  color: #f2f2f2;
}

.header {
  font-size: 48px;
  color: #f2f2f2;
}

.header .desc {
  font-size: 48px;
  color: #E1065E;
}

.icons{
  display: flex;
  color: #f5f5f5;

}
/* scroll down */

.scrollDown{
  margin: 5em 1em;

}

.scrollDown span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scrollDown span:nth-child(2) {
	animation-delay: -0.2s;
}

.scrollDown span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

@media(max-width: 768px){
  .mainWrapper{
    padding: 4em 3em;
    margin: 0 auto;
  }
  
  .mainWrapper p{
    font-size: 1rem;
    color: #f2f2f2;
  }
  
  .mainWrapper h1{
    font-size: 3rem;
    font-weight: bold;
    color: #f2f2f2;
  }
  
  .header {
    font-size: 2rem;
    color: #f2f2f2;
  }
  
  .header .desc {
    font-size: 2rem;
    color: #E1065E;
  }

  
  
}

/* SIDEBAR */
.sideWrapper{
  position:fixed;
  bottom:90px;
  left:20px;
  z-index:100;
}

.sideWrapper .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
  padding:2px;
  text-decoration: none;
  color: #f5f5f5;
  text-align:center;
  font-size:16px;
  border-radius:50px;
  width:40px;
  height:40px;
  box-shadow: 2px 2px 3px #999;
  background-color: #232A4E;
  cursor: pointer;
}

.vl {
  border-left: 6px solid #232A4E;
  height: 10em;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 45;
}

@media(max-width: 768px){
  .sideWrapper{
    position: static !important;
    bottom:90px;
    left:10px;
    z-index:100;
  }
  
  .sideWrapper .icons {
   display: none;
  }

  .vl{
    display: none;
  }
}
/* WORK SECTION */

.normColor{
  background-color: #f3f3f3;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.dark{
  background-color: #232A4E;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}


.container{
  width: 20em;
  height: 20em;
  background: red;
}
.innWrapper h1{
  font-size: 2.3rem;
  color: #E1065E;
}

.normCont{
  width: 80%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.innWrapper {
  display: flex;
  align-items: center;
  padding: 20em;
}

.left{
  width: 500px;
  height: 400px;
  background: #CCD6F6;
  z-index: 100;
  margin-right: -100px;
}


.right{
  width: 500px;
  height: 500px;
  background: #999; 
}


@media(max-width: 768px){
  .innWrapper{
    flex-direction: column-reverse;
  }

  .left{
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }

  .right{
    width: 300px;
    height: 300px;
  }

}

/* OTHER PROJECTS */

.opWrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #232A4E;

}

.opWrapper h1{
  color: #CCD6F6;
  padding: 2em 0;
}

.containerWrapper{
  display: flex;
  padding: 2em;
  gap: 1em;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.containerWrapper .item{
  width: 23em;
  height: 23em;
  border-radius: 5px;
  background-color: #CCD6F6;
}

.otherProj{
  display: flex;
  gap: 1em;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 5em;

}

